<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.middleyun.mybatisplus.mapper.UserMapper">

    <sql id="selectUser">
        select u.id, u.name, u.nick_name, u.age, u.address, u.password, u.delete_flag, u.update_time, u.create_time, u.version
        from sys_user as u
    </sql>

    <sql id="insertUser" >
        insert into sys_user (name, nick_name, age, address, password, delete_flag, update_time, create_time, version) values
    </sql>

    <!--批量添加用户信息-->
    <insert id="batchInsertUser">
        <include refid="insertUser" />
        <foreach collection="list" item="item" separator=",">
            (#{item.name}, #{item.nickName}, #{item.age}, #{item.address}, #{item.password}, #{item.deleteFlag},
            #{item.updateTime}, #{item.createTime}, #{item.version})
        </foreach>
    </insert>
</mapper>